*~
*.[oa]
*.lo
*.la


Makefile.in
Makefile
stamp-*
config.*
configure
INSTALL
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs


*-marshal.[ch]
*.service
*.pc
*-glue.h
*-bindings.h

doxygen.conf
gtk-doc.make

example/*-example
src/test-connectivity
src/geoclue-master
geoclue/geoclue-enum-types.h
geoclue/geoclue-enum-types.c
interfaces/gc-iface-*.xml

providers/example/geoclue-example
providers/geonames/geoclue-geonames
providers/gsmloc/geoclue-gsmloc
providers/hostip/geoclue-hostip
providers/localnet/geoclue-localnet
providers/manual/geoclue-manual
providers/nominatim/geoclue-nominatim
providers/plazes/geoclue-plazes
providers/yahoo/geoclue-yahoo
providers/gypsy/geoclue-gypsy
providers/skyhook/geoclue-skyhook

test/geoclue-test-gui
